@model AccountViewModel

<div class="signup-form">
    <!--sign up form-->
    <h2>New User Signup!</h2>
    <form method="post" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="All"></div>
        <div>
            <input asp-for="@Model.Register.Name" placeholder="@nameof(Model.Register.Name)" />
            <span asp-validation-for="@Model.Register.Name"></span>
        </div>
        <div>
            <input asp-for="@Model.Register.Email" placeholder="@nameof(Model.Register.Email)" />
            <span asp-validation-for="@Model.Register.Email"></span>
        </div>
        <div>
            <input asp-for="@Model.Register.Password" placeholder="@nameof(Model.Register.Password)" />
            <span asp-validation-for="@Model.Register.Password"></span>
        </div>
        <div>
            <input asp-for="@Model.Register.PasswordConfirm" placeholder="@nameof(Model.Register.PasswordConfirm)" />
            <span asp-validation-for="@Model.Register.PasswordConfirm"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-default">Signup</button>
        </div>
    </form>
</div><!--/sign up form-->