@using WebStore.Domain.Entities
@model WebStore.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Details</h1>

    <div>
        <h4>Employee</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Patronymic)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Patronymic)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BirthDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CityDepartment)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CityDepartment)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Salary)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Salary)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Age)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Age)
            </dd>
        </dl>
    </div>
    <div>
        @if (User.IsInRole(Role.Administrators))
        {
            <a asp-action="Create" class="btn btn-success">Create New Employee</a> @:|
        }
        @if (User.IsInRole(Role.Administrators))
        {
            <a asp-action="Edit" asp-route-Id="@Model.Id" class="btn btn-warning">Edit</a> @:|
        }
        @if (User.IsInRole(Role.Administrators))
        {
            <a asp-action="Delete" asp-route-Id="@Model.Id" class="btn btn-danger">Delete</a> @:|
        }
        <a asp-action="Index" class="btn btn-default">Back to List</a>
    </div>
</div>
