@model IEnumerable<WebStore.Models.Employee>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Сотрудники</title>
</head>
<body>

<h3>Сотрудники</h3>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Возраст</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var employee in Model)
    {
        <tr>
            <td>@employee.Id</td>
            <td>@employee.LastName</td>
            <td>@employee.FirstName</td>
            <td>@employee.Patronymic</td>
            <td>@employee.Age</td>
            <td><a class="btn btn-primary me-2" href='@Url.Action("EmployeeDetail", new { employeeID = employee.Id })' >Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<p>
    <a href="~/">Домой</a>
</p>

</body>
</html>
